.CleanupRulePicker {
  /* Override Blueprint's styling */
  margin-bottom: 0;
}

.CleanupRulePicker__Inputs {
  display: flex;
}

.CleanupRulePicker__Child {
  /* Prevent children from being shrunk by flexbox layout */
  flex-shrink: 0;
  /* Override Blueprint's styling */
  margin-bottom: 0;
}

/* Need specificity > (0, 3, 1) to override Blueprint's styling */
.CleanupRulePicker
  .CleanupRulePicker__Inputs
  .CleanupRulePicker__Child
  > label.bp3-label {
  margin-right: 0.3em;
}

.CleanupRulePicker__Child:not(:first-child) {
  margin-left: 0.5em;
}

.CleanupRulePicker__InputText {
  /* Ensure that the input aligns vertically with the label.
     (align-items: center does not work because helper text would change its
      alignment)
   */
  margin-top: 0.3em;
  /* Fill the enclosing <FormGroup>
     (needed b/c we're using <input> instead of <InputGroup>
   */
  width: 100%;
}

/* Need specificity > (0, 1, 0) to override Blueprint's styling */
.CleanupRulePicker__Child.CleanupRulePicker__Checkbox {
  /* Use flexbox to vertically align the checkbox and the label to the top of
     the label. */
  display: flex;
}

.CleanupRulePicker__CheckBoxText {
  font-size: 80%;
  /* If the checkbox text from growing too long, wrap it */
  max-width: 10em;
}

/* Need specificity > (0, 2, 0) to override Blueprint's styling */
.CleanupRulePicker__Child.CleanupRulePicker__Checkbox .bp3-control-indicator {
  /* Blueprint uses a "control indicator" elmeent to apply styles to the
     <Checkbox> component. Let's make this componet narrower to reduce the gap
     between the checkbox and the label. */
  margin-right: 5px;
  /* Due to enabling flexbox on the containing .CleanupRulePicker__Checkbox, the
     vertical alignment of the checkbox is broken. Let's fix it manually. */
  margin-top: 0;
}

.CleanupRulePicker__InputGiftRecipent {
  width: 7em;
}

.CleanupRulePicker__InputGiftMessage {
  width: 9em;
}

.CleanupRulePicker__InputMakeTarget {
  width: 9em;
}

.CleanupRulePicker__InputMallMinPrice input {
  text-align: right;
}

/* Need 2 classes to override Blueprint's styling */
.CleanupRulePicker .CleanupRulePicker__InputMallMinPrice input {
  text-align: right;
  width: 7em;
}
