.SelectCleanupAction {
  font-size: 90%;
  /* Set the width of the <select> element, so that it does not resize when some
     actions are not available (e.g. no "Sell in mall" for untradable items) */
  width: 10.5em;
}

/* Need specificity > (0, 1, 1) to override Blueprint styling */
.SelectCleanupAction.bp3-html-select select {
  appearance: menulist;
  font-size: 100%;
  padding: 5px;
}
