/*
Blueprint stylesheets
(see https://blueprintjs.com/docs/#blueprint/getting-started)

Note: Don't add @bluprintjs/icons since we don't use icon fonts.
*/
@import 'normalize.css';
@import '@blueprintjs/core';
@import '@blueprintjs/popover2';

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
