/*
Blueprint stylesheets
(see https://blueprintjs.com/docs/#blueprint/getting-started)
*/
@import 'normalize.css';
@import '@blueprintjs/core';
@import '@blueprintjs/icons';
@import '@blueprintjs/popover2';

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
