/*
Blueprint stylesheets
(see https://blueprintjs.com/docs/#blueprint/getting-started)

Note: Don't add @bluprintjs/icons since we don't use icon fonts.
*/
@import 'normalize.css';
@import '@blueprintjs/core';
@import '@blueprintjs/popover2';

#root {
  display: flex;
  flex-direction: column;
  /* Dirty hack to avoid creating a vertical scrollbar in the viewport if the
     horizontal scrollbar appears. */
  height: calc(100vh - 20px);
}
